<% provide(:title, 'Edit Profile') %>
<% provide(:button_text, 'Save changes') %>
<div class="row">
  <h3>Account</h3>
  <div class="col-md-3">
    <div class="sidebar-nav">  
      <ul class="nav nav-tabs nav-stacked">  
        <li><%= link_to "Profile", edit_user_path(@user) %></li>
        <li><%= link_to " Address", address_user_path(@user) %></li>
        <li><%= link_to " Payment", payment_user_path(@user) %></li>   
      </ul> 
    </div>
  </div>
  <div class="col-md-9">
    <h4>Update Profile</h4>
    <%= render 'form' %>
  </div>
</div>